.container {
  padding: 20px;
  border-radius: 20px;
  background-color: #222;
}

.heading {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
