.item {
	&:not(:last-child) {
		margin-bottom: 10px;
	}
}

.link {
	display: flex;
	align-items: center;
	padding: 10px;

	border-radius: 10px;
	border: 1px solid transparent;
	transition: border 0.3s ease;

	&:focus {
		outline: 0;
		box-shadow: 0 0 0 3px #8edc44;
		border-radius: 10px;
		transition: box-shadow 0.3s ease, border-radius 0.3s ease;
	}

	&:focus-visible {
		outline: 0;
		box-shadow: 0 0 0 3px #8edc44;
		border-radius: 10px;
		transition: box-shadow 0.3s ease, border-radius 0.3s ease;
	}

	&:focus:not(:focus-visible) {
		outline: 0;
		box-shadow: none;
		border-radius: 10px;
	}
}

.avatar {
	flex: 0 0 40px;
	width: 40px;
	height: 40px;

	margin-right: 20px;

	border-radius: 50%;
	object-fit: cover;
}

.name {
	color: #fff;

	font-size: 16px;
}

.active {
	border: 1px solid #fff;
	transition: border 0.3s ease;
}
