.status {
  margin-bottom: 15px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button {
  position: relative;
  font-size: 14px;
}

.button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  will-change: width;
  background-color: currentColor;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

@media (any-hover: hover) {
  .button:hover::after {
    width: 100%;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
  }
}

.text {
  font-size: 18px;
  margin-bottom: 5px;
}

.inputContainer {
  display: block;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px 8px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #191919;
  color: #fff;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.input:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 3px #8edc44;
          box-shadow: 0 0 0 3px #8edc44;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.input:focus-visible {
  outline: 0;
  -webkit-box-shadow: 0 0 0 3px #8edc44;
          box-shadow: 0 0 0 3px #8edc44;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.input:focus:not(:focus-visible) {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
