.loadingIcon {
	position: absolute;
	top: 0;
	right: 0;

	width: 100px;
	height: 100px;

	:global {
		animation: 3s linear infinite rotate;
	}
}

@keyframes :global(rotate) {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
