.friend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.name {
  text-align: center;
}
