.post {
	display: flex;
	flex-direction: column;

	padding: 20px;

	background-color: #fff;
	border-radius: 20px;
}

.body {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;

	margin-bottom: 10px;
}

.image {
	flex: 0 0 50px;
	height: 50px;
	margin-right: 20px;
}

.avatar {
	border-radius: 50%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.text {
	align-self: center;

	color: #000;

	font-size: 20px;
}

.likes {
	flex: 0 0 100%;
	align-self: flex-end;
}

.amount {
	color: #ec4b4b;
}
