.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.textareaWrapper {
  margin-bottom: 20px;
}

.textarea {
  width: 100%;
  height: 100px;
  padding: 20px;
  border-radius: 20px;
  resize: none;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.textarea::-webkit-input-placeholder {
  color: #999;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.textarea:-ms-input-placeholder {
  color: #999;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.textarea::-ms-input-placeholder {
  color: #999;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.textarea::placeholder {
  color: #999;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.textarea:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 3px #8edc44;
          box-shadow: 0 0 0 3px #8edc44;
  border-radius: 20px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.textarea:focus-visible {
  outline: 0;
  -webkit-box-shadow: 0 0 0 3px #8edc44;
          box-shadow: 0 0 0 3px #8edc44;
  border-radius: 20px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.textarea:focus:not(:focus-visible) {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 20px;
}

.textareaError {
  -webkit-box-shadow: 0 0 0 2px #fa5555;
          box-shadow: 0 0 0 2px #fa5555;
}

.textareaError::-webkit-input-placeholder {
  color: #fa5555;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.textareaError:-ms-input-placeholder {
  color: #fa5555;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.textareaError::-ms-input-placeholder {
  color: #fa5555;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.textareaError::placeholder {
  color: #fa5555;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.error {
  color: #fa5555;
}

.button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}

.button:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 3px #8edc44;
          box-shadow: 0 0 0 3px #8edc44;
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.button:focus-visible {
  outline: 0;
  -webkit-box-shadow: 0 0 0 3px #8edc44;
          box-shadow: 0 0 0 3px #8edc44;
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.button:focus:not(:focus-visible) {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 5px;
}
