.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.item:not(:last-child) {
  margin-bottom: 30px;
}

.promo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(30% - 30px);
          flex: 0 0 calc(30% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.img {
  margin-bottom: 15px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  font-size: 20px;
}

.info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

.name {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  text-transform: uppercase;
}

.location {
  display: block;
  margin-bottom: 10px;
  color: #cdcdcd;
  font-size: 16px;
}

.status {
  font-size: 20px;
}
