.item:not(:last-child) {
  margin-bottom: 10px;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
}

.link:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 3px #8edc44;
          box-shadow: 0 0 0 3px #8edc44;
  border-radius: 10px;
  -webkit-transition: border-radius 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: border-radius 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, border-radius 0.3s ease;
  transition: box-shadow 0.3s ease, border-radius 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.link:focus-visible {
  outline: 0;
  -webkit-box-shadow: 0 0 0 3px #8edc44;
          box-shadow: 0 0 0 3px #8edc44;
  border-radius: 10px;
  -webkit-transition: border-radius 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: border-radius 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, border-radius 0.3s ease;
  transition: box-shadow 0.3s ease, border-radius 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.link:focus:not(:focus-visible) {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 10px;
}

.avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.name {
  color: #fff;
  font-size: 16px;
}

.active {
  border: 1px solid #fff;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
}
