.descr {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.name {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.text {
  margin-bottom: 10px;
  font-size: 18px;
}

.work {
  color: #a6a6a6;
  font-size: 16px;
}

.workDescr {
  margin-bottom: 15px;
  color: #a6a6a6;
  font-size: 16px;
}

.info {
  margin-right: 20px;
}

.item {
  text-align: right;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.link {
  position: relative;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  will-change: width;
  height: 1px;
  background-color: currentColor;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

@media (any-hover: hover) {
  .link:hover::after {
    width: 100%;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
  }
}
