body {
	height: 100%;

	background-color: #191919;

	font-family: sans-serif;
	color: #fff;
}

#root {
	height: 100%;
}

.app {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto 1fr auto;
	grid-gap: 40px;

	height: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
	overflow-x: hidden;

	&__header {
		grid-column: span 12;
		grid-row: span 1;
	}

	&__aside {
		grid-column: span 3;
		grid-row: span 1;
	}

	&__main {
		position: relative;
		grid-column: span 9;
		grid-row: span 1;
	}

	&__footer {
		grid-column: span 12;
		grid-row: span 1;
	}
}
