.item {
	&:not(:last-child) {
		margin-bottom: 20px;
	}
}

.settings {
	margin-top: 40px;
}

.link {
	font-size: 20px;
	transition: border-bottom 0.3s ease;
}

.active {
	border-bottom: 1px solid #fff;
	transition: border-bottom 0.3s ease;
}
