.form {
	display: flex;
	flex-direction: column;
}
.textareaWrapper {
	margin-bottom: 20px;
}
.textarea {
	width: 100%;
	height: 100px;

	padding: 20px;

	border-radius: 20px;
	resize: none;

	transition: box-shadow 0.3s ease;
	&::placeholder {
		color: #999;
		transition: color 0.3s ease;
	}
	&:focus {
		outline: 0;
		box-shadow: 0 0 0 3px #8edc44;
		border-radius: 20px;
		transition: box-shadow 0.3s ease;
	}

	&:focus-visible {
		outline: 0;
		box-shadow: 0 0 0 3px #8edc44;
		border-radius: 20px;
		transition: box-shadow 0.3s ease;
	}

	&:focus:not(:focus-visible) {
		outline: 0;
		box-shadow: none;
		border-radius: 20px;
	}
}
.textareaError {
	box-shadow: 0 0 0 2px #fa5555;
	&::placeholder {
		color: #fa5555;
		transition: color 0.3s ease;
	}
}
.error {
	color: #fa5555;
}

.button {
	align-self: flex-end;

	padding: 10px 20px;

	border-radius: 5px;
	background-color: #000;
	color: #fff;
	&:focus {
		outline: 0;
		box-shadow: 0 0 0 3px #8edc44;
		border-radius: 5px;
		transition: box-shadow 0.3s ease;
	}

	&:focus-visible {
		outline: 0;
		box-shadow: 0 0 0 3px #8edc44;
		border-radius: 5px;
		transition: box-shadow 0.3s ease;
	}

	&:focus:not(:focus-visible) {
		outline: 0;
		box-shadow: none;
		border-radius: 5px;
	}
}
