.checkbox {
	align-self: flex-start;
	display: flex;
	align-items: center;
}

.checkboxText {
	user-select: none;
	cursor: pointer;
}

.checkboxBox {
	display: inline-block;
	width: 20px;
	height: 20px;
	overflow: hidden;
	margin-right: 10px;

	border: 3px solid #4a90e2;
	border-radius: 3px;
	background-color: #fff;
}

/* Checked */
.checkboxInput:checked + .checkboxBox {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiAxMiI+PHBvbHlsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIzIiBwb2ludHM9IjEuMDc5IDQuOTk5IDUgOSAxMC44MzcgMiIvPjwvc3ZnPg==) center/cover no-repeat;
	background-color: #4a90e2;
}

/* Focused */
.checkboxInput:focus + .checkboxBox {
	border: 3px solid #70d03a;
}

/* Disabled */
.checkboxInput:disabled + .checkboxBox {
	border: 3px solid #9b9b9b;
}
.checkboxInput:disabled ~ .checkboxText {
	cursor: default;
}

/*Checked disabled */
.checkboxInput:checked:disabled + .checkboxBox {
	background-color: #9b9b9b;
}
